<%= form_for [@user, @lead] do |f| %>

  <%= f.hidden_field :user_id %>

    <label>Company</label><br>
    <%= f.text_field :company %><br>
    <label>Position</label><br>
    <%= f.text_area :position %><br>
    <%= f.submit %>
  <% end %>
