<%= form_for [@user, @lead] do |f| %>

  <%= f.hidden_field :user_id %>

    <label>Position</label><br>
    <%= f.text_field :position %><br>

    <label>Point Person</label><br>
    <%= f.text_field :point_person %><br>

    <label>Email</label><br>
    <%= f.email_field :email %><br>

    <label>Phone Number</label><br>
    <%= f.text_field :phone_number %><br>

    <label>Status</label><br>
    <%= f.text_field :status %><br>


    <%= f.submit %>
  <% end %>
