<h1>Dashboard</h1>

<%= link_to "New Lead", new_user_lead_url(@user) %>

<% if !params[:status].blank? %>
  <% @leads = Lead.where(status: params[:status]) %>
<% end %>

<h3>Filter Leads:</h3>
<%= form_tag(user_leads_url(@user), method: "get") do %>
  <%= select_tag :status, options_for_select(['Warm', 'Cold']), :include_blank => 'All' %>
  <%= submit_tag "Filter" %>
<% end %>

<p>Leads:</p>
<% @leads.each do |lead| %>
  <div><%= Company.find_by(id: lead.company_id).name %></div>
  <div><%= Company.find_by(id: lead.company_id).website %></div>
  <div><%= Company.find_by(id: lead.company_id).city %></div>
  <div><%= lead.position %></div>
  <div><%= lead.point_person %></div>
  <div><%= lead.phone_number %></div>
  <div><%= lead.email %></div>
  <div><%= lead.status %></div>
  <div><%= link_to "Edit Lead", edit_user_lead_url(@user, lead) %></div>

  <br>
  <br>
<% end %>
