<h1>Dashboard</h1>

<%= link_to "New Lead", new_user_lead_url(@user) %>


<div>
  <h3>Filter Leads:</h3>
  <%= form_tag("/*/leads", method: "get") do %>
    <%= select_tag "status", options_from_collection_for_select(Lead.status.all, "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<p>Leads:</p>
<% @leads.each do |lead| %>
  <div><%= Company.find_by(id: lead.company_id).name %></div>
  <div><%= Company.find_by(id: lead.company_id).website %></div>
  <div><%= Company.find_by(id: lead.company_id).city %></div>
  <div><%= lead.position %></div>
  <div><%= lead.point_person %></div>
  <div><%= lead.phone_number %></div>
  <div><%= lead.email %></div>
  <div><%= lead.status %></div>
  <div><%= link_to "Edit Lead", edit_user_lead_url(@user, lead) %></div>

  <br>
  <br>
<% end %>
