<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= link_to "HOME", root_path %>
    <% if current_user %>
      <%= link_to "ACCOUNT", user_path(current_user) %>
      <%= link_to "LOGOUT", signout_path, method: :delete %>
    <% else %>
      <%= link_to "SIGN IN", signin_path %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
